
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Oswald&family=Playfair+Display&family=Poppins:ital@1&display=swap');
body {
    display: grid;  
    background-image: url(./assets/diane-picchiottino-6gZFeiDM0mY-unsplash\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center; 
    padding: 10px; 
    font-size: 1.2em;
    color: white;
  }
  h1{
    font-family: 'Great Vibes', sans-serif;
    font-weight: bolder;
    font-size: 50px;
  }
  
  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  
  hr {
    margin: 1.2em 0;
  }
  
  input, button {
    font-size: 1.2rem;
  }
  
  input {
    width: 40%;
    margin: 0 20px;
  }
  